.App {
  text-align: center;
}

.AppContainer {
  width: 100vw;
  height: 100vh;
}

.MonthHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 48px;
  background-color: rgb(6, 116, 6);
  align-items: center;
  color: white;
}

.DayHeader {
  border: solid;
  border-width: 2px;
  border-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DaysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas */
  gap: 2px;
  width: 100%;
  height: 100%;
}

.Day {
  background-color: rgb(53, 53, 95);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: rgb(4, 245, 84);
}

.muchas-clases{
  color: red
}